{namespace ClosureWidget.Templates.Formalize}


/**
 * @param message
 */
{template .errorMessage}
	<div class='{css cw-error}'>
		<div class='{css cw-close}'>X</div><span class="{css cw-message}">{$message}</span>
	</div>
{/template}
