{namespace ClosureWidget.Template.InfoPopup}

/**
 */
{template .main}
<div class="{css cw-popover}">
  <div class="{css cw-arrow-container}">
    <div class="{css cw-arrow}">
    </div>
  </div>
  <div class="{css cw-container}">
  </div>
</div>
{/template}